@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');
/* font style  */

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

  .league-spartan {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  /* font style end */
  
/* Navbar Section */
.container-nav {
  background-color : #388E3C;
}

.container-navbar {
  background-color: #388E3C;
}

li {
  font-size: 17px;
  margin-left: 20px;

}

a {
  color: white !important;
}


.navbar-brand-a {
  font-size: 25px;
  color: white;
}

/* Button Navbar */
.button-8 {
  border : 1px white solid;
  width: 70px;
  height: 35px;
  background-color: #388E3C;
  border-radius: 3px;
  color : white;
  transition-duration: 0.3s;
}

.button-8:hover {
  transition: ease-in-out;
  background-color: white;
  color: #388E3C;
}

#btn-daftar {
  margin-right: 20px;
}
/* Navbar Style end */

  
/* content 1 */
.container-content-1 {
      padding: 50px;
  }

.container-header-news {
      padding: 40px;
  }

.h1-content-1 {
      font-size: 32px;
  }

.p-content-1 {
      font-size: 18px;
  }

.p-content-1-2 {
      font-size: 14px;
      margin-top: 50px;
}

/* content 1 end */

/* red and white block */
.kotak-panjang-merah {
      width: 1350px;
      height: 80px;
      background-color: #C31815;
    }

    .kotak-panjang-putih {
      width: 1350px;
      height: 80px;
    }

    .tengah {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100%; 
    }

    .p-white-block {
      font-size: 30px;
    }

    .p-red-block {
      font-size: 18px;
      color: white;
    }

/* red and white block end */

/* Card Berita */
.container-card-berita {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-top: 60px;
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 400px;
  width: 400px;
  
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* .col-card-parent {
  margin-top: 10px;
  padding-top: 10px;
} */

/* Card Berita end */

/* Footer */
.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  margin-top : 60px;
}
.footer .navbar-brand {
  margin-left: 20px;
}
.footer p {
  margin: 0;
  text-align: center;
}

.bisa {
  font-size : 28px;
  color: black;
}

.sehat {
  font-size : 28px;
  color : #35548a;
}

/* Responsive area */

@media (max-width : 568px) {

  /* content 1 */
.container-content-1 {
      padding: 50px;
  }

.container-header-news {
      padding: 40px;
  }

.h1-content-1 {
      font-size: 32px;
      text-align: justify;
  }

.p-content-1 {
      font-size: 18px;
      text-align: justify;
  }

.p-content-1-2 {
      font-size: 14px;
      margin-top: 50px;
}

/* content 1 end */

  /* content */
  .container-content-1 {
      padding: 10px;
      margin-top: 90px;
  }
 /* content end */
 
      .highLight-wrap {
        height: 20vh;
      }
    
      .navbar-a {
        margin-left: 50px;
      }
    
      .ul-navbar {
        margin-left: 0px;
      }

     /* red and white block */
.kotak-panjang-merah {
      width: 350px;
      max-width: 350px;
      height: 80px;
      background-color: #C31815;
    }

    .kotak-panjang-putih {
      width: 350px;
      max-width: 350px;
      height: 80px;
    }
    
    .tengah {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100%; 
    }

    .p-white-block {
      font-size: 30px;
    }

    .p-red-block {
      font-size: 10px;
      color: white;
      text-align: center;
    }

/* red and white block end */

.card {
  max-width: 300px;
  width: 300px;
  
}

.footer {
  margin-top : 10px;
}
}


@media (max-width : 768px) {
      .highLight-wrap {
        height: 20vh;
      }
    
      .navbar-a {
        margin-left: 50px;
      }
    
      .ul-navbar {
        margin-left: 0px;
      }

     /* red and white block */
.kotak-panjang-merah {
      width: 500px;
      height: 80px;
      background-color: #C31815;
    }

    .kotak-panjang-putih {
      width: 500px;
      height: 80px;
    }
    
    .tengah {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100%; 
    }

    .p-white-block {
      font-size: 30px;
    }

    .p-red-block {
      font-size: 18px;
      color: white;
    }

/* red and white block end */
}

/* Responsive area end */