@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
/* font style  */

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

  .league-spartan {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  /* font style end */
  
/* Navbar Section */
.container-nav {
  background-color : #388E3C;
}

.container-navbar {
  background-color: #388E3C;
}

li {
  font-size: 17px;
  margin-left: 20px;

}

a {
  color: white !important;
}


.navbar-brand-a {
  font-size: 25px;
  color: white;
}

/* Button Navbar */
.button-8 {
  border : 1px white solid;
  width: 70px;
  height: 35px;
  background-color: #388E3C;
  border-radius: 3px;
  color : white;
  transition-duration: 0.3s;
}

.button-8:hover {
  transition: ease-in-out;
  background-color: white;
  color: #388E3C;
}

#btn-daftar {
  margin-right: 20px;
}

.nav-link:hover {
  color:#C2FF7B !important ;
  transition: 0.3s !important;
  transition: ease-in-out;
}
/* Navbar Style end */

  .jumbotron {
    padding: 100px;
  }

.hero-section {
  background-color: #e0f7da;
}

.img-hoax {
  width: 550px;
  height: 390px;
}

.p-2-container-hero-content {
  font-size: 16px;
  color: #696868;
  margin-top: 85px;
}


.highlight-section {
  background-color: #ffe0b2;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}

.section-4berita {
  padding: 50px;
  background-color: white;
}

.news-section h2 {
  font-weight: bold;
}

.news-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.news-img {
  width: 30%; /* Lebar gambar */
  margin-right: 20px;
}

.img-4-berita {
  width: 300px !important;
  height: 200px !important;
  border-radius: 10px;
}

.row-berita {
  margin-top: 30px !important;
}

.h2-header-berita {
  margin-top : 50px;
}

.news-img img {
  width: 300px; /* Gambar mengisi seluruh lebar div */
  height: 211px;
}

.p-content-berita {
  color: #696868;
  font-size: 14px;
}

.news-content {
  width: 70%; /* Lebar konten teks */
}

.article-author img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.news-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
}
.news-card img {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.news-card .card-body {
  flex: 1;
}

.header {
            background-color: #FFA500;
            color: white;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            border-radius: 8px;
            
        }

       
        body {
            background-color: #f0f8e0;
        }
        .header {
            text-align: center;
            margin: 20px 0;
        }
        .article {
            text-align: center;
        }
        .article img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            margin-bottom: 10px;
        }
        .article h5 {
            font-size: 18px;
            margin-bottom: 10px;
        }
        .article p {
            font-size: 14px;
            margin-bottom: 5px;
        }

        .h1-article {
          margin-top: 70px;
          margin-bottom: 50px;
        }

        .article-3-img {
          height: 300px !important;
        }

        .container-article-parent {
          margin-bottom: 100px;
        }

        .container-artikel-logo img {
          width : 40px !important;
          height : 40px !important;
        }

        .text-darker {
          color: #696868;
        }

        .p-instansi-kesehatan {
          margin-left: 15px;
        }

        /* FOOTER */
      .footer {
        background-color: #28a745;
        color: #ffffff;
        padding: 20px 0;
      }
      .footer .social-icons a {
        color: #ffffff;
        margin-right: 15px;
        font-size: 24px;
      }
      .footer .social-icons a:hover {
        color: #dddddd;
      }
      .footer h5, .footer p {
        margin: 0;
      }
      .footer .footer-copy {
        text-align: center;
        margin-top: 10px;
      }

      .footer-social-icon img {
        width: 25px;
        height: 25px;
      }
      

/* FOOTER END */

/* Untuk responsif */
@media (max-width: 768px) {
  
   /* Navbar */
.login-signup {
  margin-left : 0px;
  }
  
  #btn-daftar {
  margin-right: 10px;
  }
  
  .container-login {
  margin-left : 20px;
  }
  
  /* Navbar end */

  .jumbotron {
    padding: 10px;
    margin-top : 100px;
  }

  .img-hoax {
    width: auto;
    height: auto;
  }

  .p-2-container-hero-content {
    font-size: 16px;
    color: #696868;
    margin-top: 85px;
  }

  .container-4berita-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section-4berita {
    padding: 10px;
    background-color: white;
  }

  .section-4berita {
    padding: 50px;
    background-color: white;
  }

  .news-section h2 {
    text-align: center;
  }

  .news-item {
      flex-direction: column;
  }

  .news-img,
  .news-content {
      width: 100%; /* Setelah perubahan menjadi vertikal, elemen mengisi lebar penuh */
      margin-right: 0; /* Hapus margin kanan pada gambar */
  }

  .p-instansi-kesehatan {
    margin-left: 0px;
  }

  .footer-social-icon {
  margin-left: 17px;
}

.container-article-typography {
  padding: 1.5rem;
}
}