@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
}
/* font style  */

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.montserrat-extra-bold {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* font style end */

/* Navbar Style */
.container-row-1 {
  width:25%;
  
}

.container-row-2 {
  width: 70%;
}

.nav-link {
  color: white !important;
  font-size : 18px;
}

.nav-link:hover {
  color: #32CD32 !important;
}

.navbar-brand {
    color: #32CD32;
}

.nav-item {
  margin-left : 20px;
  
}

.container-nav {
  background-color : #778A35;
}

.container-navbar {
    padding: 10px;
    background-color: #778A35;
}

.navbar-a {
  display: flex;
  justify-content: center;
}

.ul-navbar {
  margin-left: 120px;
}

/* Navbar Style end */

/* Content Style */

.content-wrap {
  padding: 150px 100px 0px 100px;
  background-color: #EBEBE8;
  
}

img {
  width: 750px;
  height: 340px;
}

.header-content {
    color: white;
    font-weight: bold;
}

.h1-landing-page {
    color: black;
}

.p1-landing-page {
    color: black;
    text-align: justify;
}

li {
    padding-left: 5px;
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #32CD32;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #367F36;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #367F36;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/* Content Style end */

.highLight-wrap {
  padding: 100px;
  background-color: #EBEBE8;
}

/* Responsive */

@media (max-width : 540px) {
  .highLight-wrap {
    height: 100vh;
  }

  .navbar-a {
    margin-left: 50px;
  }

  .ul-navbar {
    margin-left: 0px;;
  }

  img {
    width: 700px;
    height: 500px;
    padding-top: 50px;
  }

  .content-wrap {
  padding: 100px 25px 0px 25px;
  background-color: #EBEBE8;
  
}

}

@media (max-width : 1000px) {
  .highLight-wrap {
    height: 100vh;
  }

  .navbar-a {
    padding-left : 30px;
  }

  .ul-navbar {
    margin-left: 0px;;
  }

  img {
    width: 500px;
    padding-top: 50px;
  }
  
}