@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');
/* font style  */

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

  .league-spartan {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  /* font style end */
  
/* Navbar Section */
.container-nav {
  background-color : #388E3C;
}

.container-navbar {
  background-color: #388E3C;
}

li {
  font-size: 17px;
  margin-left: 20px;

}

a {
  color: white !important;
}


.navbar-brand-a {
  font-size: 25px;
  color: white;
}

.nav-link:hover {
  color:#C2FF7B !important ;
  transition: 0.3s !important;
  transition: ease-in-out;
}
/* Button Navbar */
.button-8 {
  border : 1px white solid;
  width: 70px;
  height: 35px;
  background-color: #388E3C;
  border-radius: 3px;
  color : white;
  transition-duration: 0.3s;
}

.button-8:hover {
  transition: ease-in-out;
  background-color: white;
  color: #388E3C;
}

#btn-daftar {
  margin-right: 20px;
}
/* Navbar Style end */

.hero-1 {
  background-color: #F0FFDD;
  
}

.about-section  {
  padding: 70px 0;
}

.contact-section {
  padding: 70px 0px;
}

.container-img {
  display : flex;
  justify-content : end;
  align-items: end;
}

.about-section img  {
  width : 428px;
  height: 520px;
}
.contact-section img {
  width : 428px;
  height: 520px;
}

.about-section  {
  padding: 20px;
}

.about-description {
  padding: 20px;
}

.firstname {
  width: 250px;
}

.lastname {
  width: 250px;
}

.email {
  width: 590px;
}

.message {
  width: 590px;
}

input {
  border-radius: 10px;
  border: 0.5px #696868 solid;
  height: 35px;
}

textarea {
  border-radius: 10px;
  border: 1px #696868 solid;
}

/* Button Content */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #32CD32;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  width: 590px;
}

.button-5:hover,
.button-5:focus {
  background-color: #367F36;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #367F36;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.img-dc {
  width: 50px !important;
  height: 50px !important;
}

.btn-dc {
  width: 70%;
  height: fit-content;
  border-radius: 5px;
  border: none;
  background-color: #5865F2;
  color: white;
  transition: ease-in-out 0.3s;
}

.btn-dc:hover {
  transform: scale(1.05); 
}

/* FOOTER */
.footer {
        background-color: #28a745;
        color: #ffffff;
        padding: 20px 0;
      }
      .footer .social-icons a {
        color: #ffffff;
        margin-right: 15px;
        font-size: 24px;
      }
      .footer .social-icons a:hover {
        color: #dddddd;
      }
      .footer h5, .footer p {
        margin: 0;
      }
      .footer .footer-copy {
        text-align: center;
        margin-top: 10px;
      }

     

      .footer-social-icon img {
        width: 25px;
        height: 25px;
      }
      

/* FOOTER END */

@media (max-width : 768px ) {
  .hero-1 {
    background-color: #F0FFDD;
    padding: 10px;
  }
  
  .about-description {
    margin-top : 70px;
  }
  
  .about-section, .contact-section {
    padding: 10px 0;
  }

  .container-img {
  display : flex;
  justify-content : center;
  align-items: center;
}

.container-button-dc {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.firstname {
  width: 250px;
}

.lastname {
  width: 250px;
}

.email {
  width: 400px;
}

.message {
  width: 400px;
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #32CD32;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
}